- var headline = "Заголовок h"
- var size = 1

main

    article
        h1 Текст с иконками

        p.text-sm
            i.bi.arrows-fullscreen
            strong Small: 
            | Lorem ipsum dolor sit amet consectetur
        
        p
            i.bi.arrows-fullscreen
            strong Base (pure &lt;p&gt; tag): 
            | Lorem ipsum dolor sit amet consectetur
        
        p.text-base
            i.bi.arrows-fullscreen
            strong Base (class="text-base"): 
            | Lorem ipsum dolor sit amet consectetur
        
        p.text-md 
            i.bi.arrows-fullscreen
            strong Medium: 
            | Lorem ipsum dolor sit amet consectetur
        
        p.text-lg 
            i.bi.arrows-fullscreen
            strong Large: 
            | Lorem ipsum dolor sit amet 
        
        p.text-xl
            i.bi.arrows-fullscreen
            strong XL: 
            | Lorem ipsum dolor sit 
        
        p.text-xxl 
            i.bi.arrows-fullscreen
            strong XXL: 
            | Lorem ipsum 

        p.text-xxxl
            i.bi.arrows-fullscreen
            strong XXXL: 
            | Lorem 

        h1 #{headline}#{size++}

        p Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. 

        h2 #{headline}#{size++}
        p Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. 

        h3 #{headline}#{size++}
        p Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. 

        h4 #{headline}#{size++}
        p Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. 

        h5 #{headline}#{size++}
        p Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. 

        h6 #{headline}#{size++}
        p Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. 
